<h1 class="text-center">The Songs</h1>

<% @songs.each do |song| %>
	<table class="table table-bordered">
		<tr>
			<td>
			    <h3><a href="/songs/<%= song.id %>"><%= song.song_title %></a> </h3>
			    <h3><small>by: <%= song.author %></small></h3>
			    <a href="<%= song.url %>"> <%= song.song_title %></a>
			    <p>created at: <%= song.created_at %></p>
		    </td>
		</tr>      
	 
	</table>
<% end %>

<a class="btn btn-success" href="/songs/new">Add new songs... </a>
